*{ 
    box-sizing: border-box;
}

html{
	text-rendering: optimizeLegibility;
	scroll-behavior: smooth;
}
/* SCROLLBAR */
::-webkit-scrollbar{
	width: 5px;
}
::-webkit-scrollbar-track{
	background-color: #020c1b;
}
::-webkit-scrollbar-thumb{
	background-color: #3F3F3B;
}

nav{
    background-color: #161542;
    padding: 0 !important;
}
.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
.offcanvas-body, .offcanvas-header{
    background-color: #161542;
    color: white;
}
/* .nav-link{
    color: white;
} */

.ceu-logo{
    width: 250px;
    height: auto;
}

section.home{
    height: 100%;
}
.home-text{
    color: #F55197;
}
.row-no-gutters>*{
    padding: 0 !important;
}
.home-card{
    margin-top: 5%;
    -webkit-box-shadow: -3px 2px 2px 0px rgba(110,110,110,0.57); 
    box-shadow: -3px 2px 2px 0px rgba(110,110,110,0.57);
    background-color: #F0F8FF;
    transition: 0.5s;
}
.home-card:hover{
    cursor: pointer;
    transform: scale(1.05);
    transition: 0.5s;
}
.card-text{
    color: #F55197;
    font-weight: bold;
}
.gradient-text{
    background-image: linear-gradient(20deg, #FF6BFC, #7FF5FF);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.gradient-text:hover{
    background-image: linear-gradient(20deg, #7FF5FF, #FF6BFC);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

i{
    font-size: 3rem;
}

footer{
    background-color: #161542;
    height: 10vh;
    margin-top: 3%;
}
footer,p,.fa-copyright{
    font-size: 0.7rem;
}