*{ 
    box-sizing: border-box;
}

html{
	text-rendering: optimizeLegibility;
	scroll-behavior: smooth;
}

nav{
    background-color: #161542;
    padding: 0 !important;
}
.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
.offcanvas-body, .offcanvas-header{
    background-color: #161542;
    color: white;
}
/* .nav-link{
    color: white;
} */

.ceu-logo{
    width: 250px;
    height: auto;
}

section.home{
    height: 100%;
}
.home-text{
    color: #F55197;
}
.row-no-gutters>*{
    padding: 0 !important;
}
.home-card{
    border: 2px solid #161542;
}
i{
    font-size: 3rem;
}
footer{
    background-color: #161542;
    height: 10vh;
    margin-top: 3%;
}
footer,p,.fa-copyright{
    font-size: 0.7rem;
}